[logstash-{{ logstash_version }}.x]
name=Elastic repository for {{ logstash_version }}.x packages
baseurl=https://artifacts.elastic.co/packages/{{ logstash_version }}.x/yum
gpgcheck=1
gpgkey=https://artifacts.elastic.co/GPG-KEY-elasticsearch
enabled=1
autorefresh=1
type=rpm-md
